
{cover_enabled, true}.
{erl_opts, [
	    warn_unused_vars,
	    warn_export_all,
	    warn_shadow_vars,
	    warn_unused_imports,
	    warn_unused_function,
	    warn_bif_clash,
	    warn_unused_record,
	    warn_deprecated_function,
	    warn_obsolete_guard,
	    strict_validation,
	    warn_export_vars,
	    warn_exported_vars,
	    debug_info
	   ]
}.
{erl_first_files, ["src/nklib_parse_trans_vsn"]}.

{deps, [
	{lager, "3.8.0"},
	{jsone, "1.5.0"},
	{yamerl, "0.7.0"},
	{eper, "0.99.1"},
	{recon, "2.5.0"},
	{meck, "0.8.13"},
	{enotify, "0.1.0"},
	{mimerl, "1.2.0"},
	{rfc3339, "0.9.0"},
	{parsexml, "1.0.0"}
]}.

{overrides,
    [
        {override, eper, [{erl_opts, [debug_info]}]},
        {override, jsone, [{erl_opts, [{d, 'ENABLE_HIPE'}, inline]}]}
    ]}.

{plugins, [rebar3_hex, rebar3_auto]}.

{pre_hooks, [{compile, "make version_header"}]}.


%% xref checks to run
{xref_checks, [
    undefined_function_calls, undefined_functions,
    locals_not_used, deprecated_function_calls, deprecated_functions
]}.

